body{
    overflow-x: hidden;
}
/* rgba(0, 255, 238, 0.666) */
.btn {
    background-color: white;
    outline: none;
    border-style: dotted;
    border-width: 2px;
    border-radius: .5rem;
    border-color: blue;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* margin-left: 30px; */
    height: 60px;
    width: 180px;
    text-align: center;
}

.btn:hover{
    background-color: lightgray;
}

.get_files_btn{
    background-color: rgb(0, 119, 255);
    color: white;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: .5rem;
    border-color: blue;
    margin-left: 50px;
    height: 40px;
    width: 160px;
    text-align: center;
}

.get_files_btn:hover{
    background-color: cornflowerblue;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 119, 255);
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 24px;
    text-decoration: none;
}

li a:hover{
    background-color: cornflowerblue;
}

.active {
    background-color: blue;
}

.file-cards{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* align-items: center; */
    /* justify-content: center; */
    align-content: flex-start;
    height: 50vh;
    width: 50vw;
    background-color: rgb(51, 51, 51);
    left: 25vw;
    padding: 15px;
    overflow-y: scroll;
}

.uploadForm {
    margin: 30px;
}

.uploadHint {
    margin-left: 30px;
    margin-top: 30px;
}

.file-input{
    margin-bottom: 15px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 85%;
    height: 15vh;
    width: 100%;
    background-color: rgb(51, 51, 51);

}

.foot-div {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: 700;
}